.card{
    padding: 3em;
    border-radius: 10px; 
    box-shadow: 2px 2px 10px gray; 
    margin-bottom: 2em;

    text-align: center;

    &__content{
        opacity: 50%;
    }

    &__img img{
        height: 100%;
        width: 100%;  
    }
}